:local(.wrapper) {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

:local(.buttonLogin) {
  max-width: 230px;
  text-align: center;
  margin: 10px 0px;
}

:local(.title) {
  color: #00d1b2;
  font-weight: 200;
}
